doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Why we built another framework

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-backdrop='intro', style='color: white').trans
        h2(style='margin-right: -70%;').uppercase.right.border-right Why we<br/>built<br/>another<br/>framework
        br
        br
        br
        p.copyright by Tomas Della Vedova
          br
          a(href="http://twitter.com/delvedor" style="color:white") @delvedor

      section
        img(src='images/delvedor.png', style='width:100%;')

      section
        h3 Two years ago

      section
        h3 Why you built another web framework?

      section
        h3 Show other frameworks and explain why you can’t radically change them

      section
        h3 Hey! I’ve built a new framework! Inside we are using Express.

      section
        h3 Design goals

      section
        h3 How we organised the project

      section
        h3 Community impact

      section
        h3 Two years after

      section
        h3 Demo

      section(data-bespoke-backdrop='intro', style='color: white').trans
        h2.uppercase Thanks!
        br
        p by Tomas Della Vedova
          br
          a(href="http://twitter.com/delvedor") @delvedor

    script(src='build/build.js')
    script(src='http://localhost:35729/livereload.js')
